################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
.vs
[Bb]in
[Oo]bj
**/*.cache
