<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DontStartStop" value="false"/>
    <add key="DontDisableOnContextMenuOnDocument" value="false"/>
    <add key="DontDisableOnSelectionStartToDocument" value="false"/>
    <add key="WebBrowserExtensionEnabled" value="true"/>
    <add key="WebBrowserExtensionJavascriptInjectionEnabled" value="true"/>
    <add key="ApiServerUrl" value="http://localhost:5001/identity"/>
    <add key="IdentityServerUrl" value="http://localhost:5000/Account/login"/>
  </appSettings>
</configuration>